source .venv/bin/activate

export DJANGO_SETTINGS_MODULE=blog.settings
export DATABASE_URL=postgres://vietnam:vietnam@localhost/vietnam
export PYTHONPATH=.

export PYENV_VERSION=3.10.0  # Same as debian:buster

export DJANGO_ALLOWED_HOST=localhost
export DJANGO_SECRET_KEY=development

PATH_add bin

dotenv_if_exists